<div class="container">
  <div class="span5 offset2">
    <div class="page-header">
      <h1>All Time Wins</h1>
    </div>
    <table class="table" id="leaderboard">
      <thead>
        <tr>
          <th>Player <em>(* indicates guest)</em></th>
          <th>Number of Wins</th>
          <th>Win %</th>
        </tr>
      </thead>
      <tbody>
        <% @owner_stats.each do |stats| %>
          <tr>
            <td><%= stats.owner.name %><%= "*" if stats.owner.class == Guest %></td>
            <td><%= stats.games_won.length %></td>
            <td><%= stats.win_perc.round(2) %>%</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
