<div class="container">
  <div class="span5 offset2">
    <div class="page-header">
      <h1>All Time Wins</h1>
    </div>
    <table class="table" id="leaderboard">
      <thead>
        <tr>
          <th>Player <em>(* indicates guest)</em></th>
          <th>Number of Wins</th>
          <th>Win %</th>
        </tr>
      </thead>
      <tbody>
        <% @players.each do |player| %>
          <tr>
            <td><%= player[:player].name %><%= "*" if player[:player].class == Guest %></td>
            <td><%= player[:wins] %></td>
            <td><%= player[:win_perc].round() %>%</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
