<div class="container">
  <div class="span5 offset2">
    <div class="page-header">
      <h1>All Time Wins</h1>
    </div>
    <table class="table" id="leaderboard">
      <thead>
        <tr>
          <th>Player</th>
          <th>Number of Wins</th>
        </tr>
      </thead>
      <tbody>
        <% @players.each do |player| %>
          <tr>
            <td><%= player[0] %></td>
            <td><%= player[1] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
