<% @categories.each do |category| %>
  <h3><%= category.name %></h3>
  <table class="table">
    <% category.products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
      </tr>
      <% product.fields.each do |field, choices| %>
        <tr>
          <% if !choices.keys.empty? %>
            <td><%= field %></td>
            <td><%= choices.keys %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </table>
<% end %>
