// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.timer-container {
  background-color: #bdbdbd;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  padding: 5px;
}

.btn {
    margin: 2px;
}

.button-row{
  padding: 10px 10px 20px 10px;
}

.blind{
  text-align: center;
}

.input-group-addon{
  min-width: 50px;
}

#title-row{
  padding: 10px 10px 20px 10px;
}

#timer{
  text-align: center;
}
